/*
 * Cornix LP Custom Keymap for JIS Layout
 * Based on User's Request
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// --- JIS配列変換用定義 (これのおかげで直感的に書けます) ---
#define JIS_AT   LBKT        // @
#define JIS_LBRC RBKT        // [
#define JIS_RBRC NUHS        // ] (環境によりBSLH)
#define JIS_COL  SQT         // :
#define JIS_DQT  LS(N2)      // "
#define JIS_AMPS LS(N6)      // &
#define JIS_SQT  LS(N7)      // '
#define JIS_LPAR LS(N8)      // (
#define JIS_RPAR LS(N9)      // )
#define JIS_PLUS LS(SEMI)    // +
#define JIS_ASTR LS(SQT)     // *
#define JIS_EQL  LS(MINUS)   // =
#define JIS_UNDR INT1        // _ (ろ)
#define JIS_YEN  INT3        // ¥

// 親指キーの定義
#define MT_SFT_ENT &mt RSHFT RET  // Tap:Enter / Hold:Shift
#define MT_SFT_BSP &mt LSHFT BSPC // Tap:BS / Hold:Shift
#define LT_SPC_L1  &lt 1 SPACE    // Tap:Space / Hold:Layer1
#define LT_SPC_L2  &lt 2 SPACE    // Tap:Space / Hold:Layer2

/ {
    behaviors {
        // 必要に応じてタップの感度などをここで調整できます
    };

    keymap {
        compatible = "zmk,keymap";

        /* * Layer 0: Base (Default)
         * JIS記号を右側に配置しています。
         * 親指: [英数] [Space/L2] [BS/Shift] - [Enter/Shift] [Space/L1] [かな]
         */
        default_layer {
            bindings = <
   &kp TAB   &kp Q  &kp W  &kp E  &kp R  &kp T      &kp Y  &kp U  &kp I      &kp O    &kp P     &kp MINUS
   &kp LCTRL &kp A  &kp S  &kp D  &kp F  &kp G      &kp H  &kp J  &kp K      &kp L    &kp SEMI  &kp JIS_COL
   &kp LSHFT &kp Z  &kp X  &kp C  &kp V  &kp B      &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp JIS_AT
             &kp LANG2  LT_SPC_L2  MT_SFT_BSP       MT_SFT_ENT  LT_SPC_L1  &kp LANG1
            >;
        };

        /*
         * Layer 1: Right Hold (Numbers & Symbols)
         * 右手: テンキー (画像準拠 789/456/123/0)
         * 左手: 記号類やFキーなど
         */
        layer_1 {
            bindings = <
   &kp ESC   &kp F1    &kp F2    &kp F3    &kp F4    &kp F5       &kp JIS_SQT &kp N7  &kp N8  &kp N9  &kp JIS_EQL  &kp BSPC
   &trans    &kp F6    &kp F7    &kp F8    &kp F9    &kp F10      &kp JIS_PLUS &kp N4  &kp N5  &kp N6  &kp ENTER    &kp JIS_ASTR
   &trans    &kp F11   &kp F12   &trans    &trans    &trans       &kp N0      &kp N1  &kp N2  &kp N3  &kp DOT      &kp JIS_YEN
                       &trans    &trans    &trans       &trans      &trans      &trans
            >;
        };

        /*
         * Layer 2: Left Hold (Navigation & Brackets)
         * 左手: 矢印キー (ESDF)
         * 右手: カッコや記号
         * 左親指右キー: Delete (ご指定通り)
         */
        layer_2 {
            bindings = <
   &trans    &trans    &kp UP    &trans    &trans    &kp TILDE    &kp JIS_DQT &kp JIS_LBRC &kp JIS_RBRC &kp JIS_UNDR &kp PIPE &kp GRAVE
   &trans    &kp LEFT  &kp DOWN  &kp RIGHT &trans    &kp CARET    &kp HASH    &kp JIS_LPAR &kp JIS_RPAR &kp MINUS    &trans   &trans
   &trans    &trans    &trans    &trans    &trans    &trans       &kp LT      &kp GT       &kp QMARK    &trans       &trans   &trans
                       &trans    &trans    &kp DEL      &trans      &trans      &trans
            >;
        };

        /*
         * Layer 3: System (Bluetoothなど)
         * 両方の親指のレイヤーキーを同時押しなどでアクセス、または必要に応じて追加
         */
        adjust_layer {
            bindings = <
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &none &none &none &none &none &none
   &none      &none        &none        &none        &none        &none          &none &none &none &none &none &none
   &none      &none        &none        &none        &none        &bootloader    &none &none &none &none &none &none
                           &trans       &trans       &trans         &trans       &trans &trans
            >;
        };
    };
};
